<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create customer</title>
</head>
<body>
<h1>Create blog</h1>
<p>
    <a href="/home">Blog list</a>
</p>

<form th:object="${list}" method="post">
    <table>
        <tr>
            <td>Title:</td>
            <td><textarea th:field="*{title}" cols="100" rows="2"/></td>
        </tr>
        <tr>
            <td>Content:</td>
            <td><textarea th:field="*{content}" cols="200" rows="5"/></td>
        </tr>
        <tr>
            <td>CreateDate:</td>
            <td><textarea th:field="*{createDate}"/></td>
        </tr>
        <tr>
            <td>Category:</td>
            <td>
                <select th:field="*{category}">
                <option th:each=" y :${categories}" th:value="${y.id}" th:text="${y.name}"> </option>
                </select>
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit"></td>
        </tr>
    </table>
</form>
</body>
</html>