<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog list</title>
</head>
<body>
<h1>List Blogs</h1>
<a href="/create">Create new blog</a>
<br>
<table border="1px solid black">
    <tr>
        <th>Title</th>
        <th>Content</th>
        <th>CreateDate</th>
        <th>Category</th>
        <th>Edit</th>
        <th>Delete</th>
    </tr>
    <th:block th:each="blog : ${blogs}" >
        <tr>
            <td th:text="${blog.getTitle()}" style="font-weight: bold"></td>
            <td th:text="${blog.getContent()}"></td>
            <td th:text="${blog.getCreateDate()}"></td>
            <td th:text="${blog.getCategory().getName()}"></td>
            <td> <a th:href="@{/edit/{id}(id=${blog.getId()})}"/>Edit</td>
            <td> <a th:href="@{/delete/{id}(id=${blog.getId()})}"/>delete</td>

        </tr>
    </th:block>
</table>
</body>
</html>